button {
  &.red {
    color: white;
    background-color: hsl(0, 94%, 66%);
    letter-spacing: 0.15rem;
    border-color: hsl(0, 94%, 66%);
    font-size: 0.75rem;
    &:hover {
      background-color: white;
      color: hsl(0, 94%, 66%);
      border-color: hsl(0, 94%, 66%);
    }
  }
  &.blue {
    color: white;
    background-color: hsl(231, 69%, 60%);
    border-color: hsl(231, 69%, 60%);
    &:hover {
      background-color: white;
      color: hsl(231, 69%, 60%);
      border-color: hsl(231, 69%, 60%);
    }
  }
  &.light {
    color: #6b7280;
    background-color: #f3f4f6;
    border-color: #f3f4f6;
    &:hover {
      background-color: white;
      color: #6b7280;
      border-color: #6b7280;
    }
  }
}
