// font

.display {
  font-size: 144px;
}

html,
body,
#root {
  min-width: 100vw;
  min-height: 100vh;
}

.background-image {
  // background-repeat: repeat-y;
  background-size: cover;
  &#home-section {
    background-image: url(/assets/home/background-home-desktop.jpg);
    @media screen and (max-width: 1024px) {
      background-image: url(/assets/home/background-home-tablet.jpg);
    }
    @media screen and (max-width: 680px) {
      background-image: url(/assets/home/background-home-mobile.jpg);
    }
  }

  &#destination-section {
    background-image: url(/assets/destination/background-destination-desktop.jpg);
    @media screen and (max-width: 1024px) {
      background-image: url(/assets/destination/background-destination-tablet.jpg);
    }
    @media screen and (max-width: 680px) {
      background-image: url(/assets/destination/background-destination-mobile.jpg);
    }
  }

  &#crew-section {
    background-image: url(/assets/crew/background-crew-desktop.jpg);
    @media screen and (max-width: 1024px) {
      background-image: url(/assets/crew/background-crew-tablet.jpg);
    }
    @media screen and (max-width: 680px) {
      background-image: url(/assets/crew/background-crew-mobile.jpg);
    }
  }
}

.img-filter {
  filter: contrast(1.1) saturate(1.2);
}

.fade-img {
  mask-image: linear-gradient(
    to top,
    rgba(217, 217, 217, 0) 0%,
    rgba(217, 217, 217, 1) 23%
  );
  @media screen and (max-width: 768px) {
    mask-image: linear-gradient(
      to top,
      rgba(217, 217, 217, 0) 0%,
      rgba(217, 217, 217, 1) 15%
    );
  }
  @media screen and (max-width: 1024px) {
    mask-image: linear-gradient(
      to top,
      rgba(217, 217, 217, 0) 0%,
      rgba(217, 217, 217, 1) 23%
    );
  }
}
