#root {
  overflow-x: clip;
}

.right.highlight::before {
  border-radius: 0 999px 999px 0;
}

.left.highlight::before {
  border-radius: 999px 0 0 999px;
  left: 20%;
}

.highlight:before {
  content: "";
  position: absolute;
  top: 20%;
  background-color: hsl(231, 69%, 60%);
  width: 100rem;
  height: 80%;
  border: none;
  z-index: -1;
}

.icon-hover {
  filter: brightness(0) saturate(100%) invert(59%) sepia(39%) saturate(5090%)
    hue-rotate(326deg) brightness(100%) contrast(97%);
}
