.highlight:before {
  content: "";
  position: absolute;
  background-color: hsl(231, 69%, 60%);
  width: 100%;
  top: 9rem;
  right: -15rem;
  height: 80%;
  border: none;
  border-radius: 999px 0 0 999px;
  z-index: -1;
}
